@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento</title>
    <link rel="stylesheet" href="~/css/TeladePagamento.css" asp-append-version="true">
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="c1">
            <div class="content">
                <div class="conteiner">
                    <a class="title">Escolha sua forma de pagamento</a>
                    <div class="opcao-grid">
                        <div class="cartao" onclick="window.location.href='@Url.Action("Cartao", "Home")'">
                            <img class="opcao-imagem" src="~/img/debitoecredito.png" asp-append-version="true" alt="Cartão">
                            <h3 class="opcao-titulo">Cartão</h3> 
                        </div>

                        <div class="pix" onclick="window.location.href='@Url.Action("Pix", "Home")'">
                            <img class="opcao-imagem" src="~/img/pix.png" asp-append-version="true" alt="Pix">
                            <h3 class="opcao-titulo">Pix</h3> 
                        </div>

                        <div class="dinheiro" onclick="window.location.href='@Url.Action("Dinheiro", "Home")'">
                            <img class="opcao-imagem" src="~/img/dinheiro.png" asp-append-version="true" alt="Dinheiro">
                            <h3 class="opcao-titulo">Dinheiro</h3> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/TeladePagamento.js" asp-append-version="true"></script>
</body>
</html>
