@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento</title>
    <link rel="stylesheet" href="~/css/cartao.css" asp-append-version="true">
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="c1">
            <div class="content">
                <div class="conteiner">
                    <a class="title">Aproxime ou insira o cartão</a>
                    <div class="opcao-grid">
                        <div class="top-icon">
                            <img src="~/img/aproximacao.png" asp-append-version="true" alt="Cartões" class="img-cartoes">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Após 4 segundos, redireciona para a tela "Pagamento Concluído"
        setTimeout(() => {
            window.location.href = '@Url.Action("Concluido", "Home")';
        }, 4000);
    </script>
</body>
</html>
