
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home CRUD</title>
  <link rel="stylesheet" href="/css/telahomecrud.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  <div class="container">
    <aside class="sidebar">
     <div class="logo">
      <img src="/images/logo_crud.png" alt="">
</div>
      <nav class="menu">
        <h3>Home Crud</h3>
        <ul>
                <a asp-controller="Admin" asp-action="Index">
                    <li><i class="fa-solid fa-house"></i> Início</li>
                </a>
                <a asp-controller="Category" asp-action="List">
                    <li><i class="fa-solid fa-layer-group"></i> Categorias</li>
                </a>
                <a asp-controller="Product" asp-action="List">
                    <li><i class="fa-solid fa-box-open"></i> Produtos</li>
                </a>
            
            </ul>
      </nav>
    </aside>
    <main class="main">
      <div class="main-card">
        <div class="welcome">
          <h2>Bem-vindo ao <strong>AdsBurguer</strong></h2>
          <p>Seu painel de controle para <span>gerenciar os produtos.</span></p>
        </div>

        <div class="cards">
          <div class="card red">
            <h3><i class="fa-solid fa-list"></i> Ver Cardápio</h3>
            <p>Gerencie os produtos disponíveis no cardápio.</p>
            <a href="@Url.Action("Create", "Product")"><button class="btn-gradient">Adicionar Produto</button></a>
          </div>

          <div class="card orange">
            <h3><i class="fa-solid fa-layer-group"></i> Ver Categorias</h3>
            <p>Gerencie as categorias de produtos.</p>
            <a href="@Url.Action("Create", "Category")"><button class="btn-gradient">Adicionar Categoria</button></a>
          </div>

        </div>
      </div>
    </main>

  </div>
 
</body>
</html>