@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento</title>
    <link rel="stylesheet" href="~/css/Cartao.css" asp-append-version="true">
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="c1">
            <div class="content">
                <div class="top-icon">
                    <img src="~/img/debitoecredito.png" asp-append-version="true" alt="Cartões" class="img-cartoes">
                </div>
                <div class="conteiner">
                    <a class="title">Crédito ou Débito?</a>
                    <div class="opcao-grid">
                        <div class="credito" onclick="window.location.href='@Url.Action("Cartao", "Home")'">
                            <img class="opcao-imagem" src="~/img/credito.png" asp-append-version="true" alt="Crédito">
                            <h3 class="opcao-titulo">Crédito</h3> 
                        </div>

                        <div class="debito" onclick="window.location.href='@Url.Action("Cartao", "Home")'">
                            <img class="opcao-imagem" src="~/img/debito.png" asp-append-version="true" alt="Débito">
                            <h3 class="opcao-titulo">Débito</h3> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/TeladePagamento.js" asp-append-version="true"></script>
</body>
</html>
