<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combos</title>
    <link rel="stylesheet" href="combos.css">
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
</head>
<body>

    <div class="main">
        <div class="banner">
            <img src="~/img/telainicialmolhos.png">
            <div class="buttons">
                <button class="button"><img class="~/img-menu-item" src="img/simbolo.jpg"></button>
            </div>
        </div>
        <div class="c1">
            <div class="menu">
                <div class="menu-item">
                    <img class="img-menu-item" src="~/img/menuburguerimage.png">
                    <div>Lanches</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="~/img/combos.png">
                    <div>Combos</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="~/img/sobremesa.png">
                    <div>Sobremesas</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="~/img/bebidas.png">
                    <div>Bebidas</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="~/img/batata.png">
                    <div>Extras</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="~/img/molhos.png">
                    <div>Molhos</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="~/img/cupom.png">
                    <div>Promoções</div>
                </div>
            </div>
         
            <div class="content">

                <div class="container-categoria">
                    <div class="nav-categorias">
                        <a href="">Simples</a>
                        <a href="">Casal</a>
                        <a href="">Familia</a>
                    </div>
                </div>
                <div class="pedido">
                    <div class="pedido-grid">
                        <div class="pedido-item">
                            <img class="pedido-imagem" src="~/img/1.png">
                            <h3 class="pedido-titulo">Combo 1</h3> 
                            <h4 class="pedido-preco">R$ 54,90</h4>
                        </div>
                        <div class="pedido-item">
                            <img class="pedido-imagem" src="~/img/2.png">
                            <h3 class="pedido-titulo">Combo 2</h3> 
                            <h4 class="pedido-preco">R$ 59,90</h4>
                        </div>
                        <div class="pedido-item">
                            <img class="pedido-imagem" src="~/img/3.png">
                            <h3 class="pedido-titulo">Combo 3</h3> 
                            <h4 class="pedido-preco">R$ 49,90</h4>
                        </div>
                        <div class="pedido-item">
                            <img class="pedido-imagem" src="~/img/4.png">
                            <h3 class="pedido-titulo">Combo 4</h3> 
                            <h4 class="pedido-preco">R$ 5,90</h4>
                        </div>
                        <div class="pedido-item">
                            <img class="pedido-imagem" src="~/img/5.png">
                            <h3 class="pedido-titulo">Combo 5</h3> 
                            <h4 class="pedido-preco">R$ 4,90</h4>
                        </div>
                        <div class="pedido-item">
                            <img class="pedido-imagem" src="~/img/6.png">
                            <h3 class="pedido-titulo">Combo 6 </h3> 
                            <h4 class="pedido-preco">R$ 4,90</h4>
                        </div>
                        <div class="pedido-item">
                          <br>  <img class="pedido-imagem" src="~/img/7.png">
                            <h3 class="pedido-titulo">Casal Doce</h3> 
                            <h4 class="pedido-preco">R$ 79,90</h4>
                        </div>
                        <div class="pedido-item">
                            <img class="pedido-imagem" src="~/img/9.png">
                            <h3 class="pedido-titulo">Casal Apaixonado</h3> 
                            <h4 class="pedido-preco">R$ 89,90</h4>
                        </div>
                        <div class="pedido-item">
                        <img class="pedido-imagem" src="~/img/8.png">
                            <h3 class="pedido-titulo">Familia</h3> 
                            <h4 class="pedido-preco">R$ 115,90</h4>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>