<!-- Apenas o conteúdo dos combos, sem <html>, <head>, <body>, banners ou menu lateral -->
<div class="container-categoria">
    <div class="nav-categorias">
        <a href="#" class="active" data-categoria="simples">Simples</a>
        <a href="#" data-categoria="casal">Casal</a>
        <a href="#" data-categoria="familia">Familia</a>
    </div>
</div>
<div class="pedido">
    <div class="pedido-grid">
        <div class="pedido-item" data-categoria="simples">
            <img class="pedido-imagem" src="~/img/1.png" asp-append-version="true" alt="Combo 1">
            <h3 class="pedido-titulo">Combo 1</h3> 
            <h4 class="pedido-preco">R$ 54,90</h4>
        </div>
        <div class="pedido-item" data-categoria="simples">
            <img class="pedido-imagem" src="~/img/2.png" asp-append-version="true" alt="Combo 2">
            <h3 class="pedido-titulo">Combo 2</h3> 
            <h4 class="pedido-preco">R$ 59,90</h4>
        </div>
        <div class="pedido-item" data-categoria="simples">
            <img class="pedido-imagem" src="~/img/3.png" asp-append-version="true" alt="Combo 3">
            <h3 class="pedido-titulo">Combo 3</h3> 
            <h4 class="pedido-preco">R$ 49,90</h4>
        </div>
        <div class="pedido-item" data-categoria="simples">
            <img class="pedido-imagem" src="~/img/4.png" asp-append-version="true" alt="Combo 4">
            <h3 class="pedido-titulo">Combo 4</h3> 
            <h4 class="pedido-preco">R$ 5,90</h4>
        </div>
        <div class="pedido-item" data-categoria="simples">
            <img class="pedido-imagem" src="~/img/5.png" asp-append-version="true" alt="Combo 5">
            <h3 class="pedido-titulo">Combo 5</h3> 
            <h4 class="pedido-preco">R$ 4,90</h4>
        </div>
        <div class="pedido-item" data-categoria="simples">
            <img class="pedido-imagem" src="~/img/6.png" asp-append-version="true" alt="Combo 6">
            <h3 class="pedido-titulo">Combo 6 </h3> 
            <h4 class="pedido-preco">R$ 4,90</h4>
        </div>
        <div class="pedido-item" data-categoria="casal">
            <img class="pedido-imagem" src="~/img/7.png" asp-append-version="true" alt="Casal Doce">
            <h3 class="pedido-titulo">Casal Doce</h3> 
            <h4 class="pedido-preco">R$ 79,90</h4>
        </div>
        <div class="pedido-item" data-categoria="casal">
            <img class="pedido-imagem" src="~/img/9.png" asp-append-version="true" alt="Casal Apaixonado">
            <h3 class="pedido-titulo">Casal Apaixonado</h3> 
            <h4 class="pedido-preco">R$ 89,90</h4>
        </div>
        <div class="pedido-item" data-categoria="familia">
            <img class="pedido-imagem" src="~/img/8.png" asp-append-version="true" alt="Familia">
            <h3 class="pedido-titulo">Familia</h3> 
            <h4 class="pedido-preco">R$ 115,90</h4>
        </div>
    </div>
</div>