@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento em Dinheiro</title>
    <link rel="stylesheet" href="~/css/Dinheiro.css" asp-append-version="true">
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="c1">
            <div class="content">
                <div class="top-icon">
                    <img src="~/img/dinheiro.png" alt="Dinheiro" class="img-cartoes" asp-append-version="true">
                </div>
                <div class="conteiner">
                    <a class="title">Apresente a nota fiscal ao caixa para concluir o pagamento em dinheiro!</a>
                    <div class="opcao-grid">
                        <!-- Espaço reservado, caso queira adicionar algo aqui futuramente -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/TeladePagamento.js" asp-append-version="true"></script>
</body>
</html>
