<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Totem</title>

    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css"> <!-- Ajuste correto para CSS -->
</head>
<body>
    <div class="container">
        <div class="tela">
            <div class="topo">
                <h1 class="titulo">
                    O MELHOR LANCHE DE SOROCABA
                </h1>
            </div>
            <div class="imagem">
                <img src="~/img/Logoo.png" alt="Logo"> <!-- Caminho corrigido -->
                <img src="~/img/Capaa.png" class="segundaimagem" alt="Imagem de capa"> <!-- Caminho corrigido -->
            </div>
             <div class="botao-container">
                <button onclick="window.location.href='@Url.Action("CPF")'"> 
                  <a>Toque para iniciar</a>
                </button>
            </div>
           
        </div>
    </div>
</body>
</html>
