@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container-categoria">
    <div class="nav-categorias">
        <a href="#" class="active" data-categoria="todos">Todos</a>
        <a href="#" data-categoria="tradicionais">Tradicionais</a>
        <a href="#" data-categoria="especiais">Especiais</a>
        <a href="#" data-categoria="picantes">Picantes</a>
    </div>
</div>
<div class="pedido">
    <div class="pedido-grid">
        <div class="pedido-item" data-id="100" data-categoria="tradicionais" data-descricao="Molho de ketchup tradicional" onclick="abrirModalEditar(this)">
            <img class="pedido-imagem" src="~/img/molhodeketchup.png" asp-append-version="true" alt="Ketchup">
            <h3 class="pedido-titulo">Molho de Ketchup</h3> 
            <h4 class="pedido-preco">R$ 4,90</h4>
        </div>
        <div class="pedido-item" data-id="101" data-categoria="picantes" data-descricao="Molho de pimenta picante" onclick="abrirModalEditar(this)">
            <img class="pedido-imagem" src="~/img/molhodepimenta.png" asp-append-version="true" alt="Pimenta">
            <h3 class="pedido-titulo">Molho de Pimenta</h3> 
            <h4 class="pedido-preco">R$ 5,90</h4>
        </div>
        <div class="pedido-item" data-id="102" data-categoria="tradicionais" data-descricao="Molho barbecue defumado" onclick="abrirModalEditar(this)">
            <img class="pedido-imagem" src="~/img/molhodebarbecue.png" asp-append-version="true" alt="Barbecue">
            <h3 class="pedido-titulo">Molho de Barbecue</h3> 
            <h4 class="pedido-preco">R$ 4,90</h4>
        </div>
        <div class="pedido-item" data-id="103" data-categoria="especiais" data-descricao="Molho cremoso de queijos" onclick="abrirModalEditar(this)">
            <img class="pedido-imagem" src="~/img/molhodequeijos.png" asp-append-version="true" alt="Queijos">
            <h3 class="pedido-titulo">Molho de Queijos</h3> 
            <h4 class="pedido-preco">R$ 5,90</h4>
        </div>
        <div class="pedido-item" data-id="104" data-categoria="tradicionais" data-descricao="Maionese especial" onclick="abrirModalEditar(this)">
            <img class="pedido-imagem" src="~/img/maionese.png" asp-append-version="true" alt="Maionese">
            <h3 class="pedido-titulo">Molho de Maionese</h3> 
            <h4 class="pedido-preco">R$ 4,90</h4>
        </div>
        <div class="pedido-item" data-id="105" data-categoria="tradicionais" data-descricao="Molho verde com ervas" onclick="abrirModalEditar(this)">
            <img class="pedido-imagem" src="~/img/molhoverdedacsa.png" asp-append-version="true" alt="Verde">
            <h3 class="pedido-titulo">Molho Verde</h3> 
            <h4 class="pedido-preco">R$ 4,90</h4>
        </div>
        <div class="pedido-item" data-id="106" data-categoria="tradicionais" data-descricao="Molho rose com tomate" onclick="abrirModalEditar(this)">
            <img class="pedido-imagem" src="~/img/molhorose.png" asp-append-version="true" alt="Rose">
            <h3 class="pedido-titulo">Molho Rose</h3> 
            <h4 class="pedido-preco">R$ 7,90</h4>
        </div>
        <div class="pedido-item" data-id="107" data-categoria="especiais" data-descricao="Molho de mostarda especial" onclick="abrirModalEditar(this)">
            <img class="pedido-imagem" src="~/img/molhodequeijos.png" asp-append-version="true" alt="Mostarda">
            <h3 class="pedido-titulo">Molho de Mostarda</h3> 
            <h4 class="pedido-preco">R$ 8,90</h4>
        </div>
        <div class="pedido-item" data-id="108" data-categoria="tradicionais" data-descricao="Molho especial da casa" onclick="abrirModalEditar(this)">
            <img class="pedido-imagem" src="~/img/molhoultrasecretodacasa.png" asp-append-version="true" alt="Secreto">
            <h3 class="pedido-titulo">Molho Secreto do Chef</h3> 
            <h4 class="pedido-preco">R$ 10,90</h4>
        </div>
    </div>
</div>